<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido {{alumno.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar">
    <ion-list>
      <ion-item *ngFor="let nota of notas">
        <ul>
          <li>Curso : {{nota.nombreCurso}}</li>
          <li>
            
            <ion-input [(ngModel)]="nota.nota" readonly></ion-input>
          </li>
          <ion-button (click)="promedio(nota)">Agregar para promedio</ion-button>
        </ul>
      </ion-item>
    </ion-list>
    <br>
    <ion-button (click)="promediototal()">Ver promedios</ion-button>
    <hr>
    <ion-label floating>promedio: de todos los cursos</ion-label> &nbsp;
    <ion-input readonly [(ngModel)]="promtotal"></ion-input>
  </div>
</ion-content>
