<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido {{alumno.nombre}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar">
  
    <ion-list>
      <ion-item *ngFor="let nota of notas">
      <ul>
        <li>Curso : {{nota.nombreCurso}}</li>
        <li>Nota: {{ nota.nota }}</li>
        <ion-button color="danger" shape="round" (click)="Desasignarse(nota)">Desasignarse</ion-button>
      </ul>   
    </ion-item>
    </ion-list>
  

</div>

</ion-content>
